.center{
    text-align: center;
    width: 91%;
    margin: auto;
    overflow:hidden;
    height:100%;
    margin-bottom: 40px;  
}

ngb-pagination /deep/ .page-item.active .page-link {
    background-color: #c0392b;
    border: 0 none;
}

.form-inline{
    margin:auto;
    width: 344px;
}


.btn {
    width: 80px;
    border: 0 none;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #c0392b;
    color: #ffffff;
}

.title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px; 
    margin-bottom: 100px;
}

.subtitle{
    color:#c0392b;
    font-weight: 450;
    margin-bottom: 100px;
}
 